body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

#login, #app {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 60px;
}

.post {
    background: #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.comment {
    margin-left: 20px;
    background: #ccc;
    padding: 5px;
    border-radius: 4px;
}